
 <div class="tab-pane active" id="tab12">
 	<h2 class="heading">Analysis Report</h2>
	<div class="tabbable">                                       
		<ul class="nav nav-tabs">
		  <li class="active" ><a href="#/console/nup/worklist/analysis-report" data-toggle="tab">Analysis Report</a></li>
		  <li><a href="#/console/nup/worklist/analysis-about" data-toggle="tab">About</a></li>
		</ul>                                              
	</div>
	<div class="tab-content overflow-visible">
		Coming Soon
	</div>
</div>