<bread-crumbs></bread-crumbs>
<div class="login">
<div class="box">
      <div class="content">
         <!-- Login Formular -->
         <form class="form-vertical login-form" ng-submit="changePassword($event)" novalidate id="frmChangePassword" name="frmChangePassword">
            <!-- Title -->
            <h3 class="form-title">Change your password</h3>

            <!-- Error Message -->
            <!-- <div id="flash" class="{{alertclass}}" ng-show="flash">
               <i class="icon-remove close" data-dismiss="alert"></i>
               <span ng-bind="flash"></span>
            </div> -->

            <!-- Input Fields -->
            <div class="form-group">
               <label for="username">Old Password <span class="aesterisk">*</span></label>
               <div class="input-icon">
                  <i class="icon-lock"></i>
                  <input type="password" id="oldpass" name="oldpass" ng-model="credentials.oldpass" class="form-control"  placeholder="Enter Old Password.."  required/>
               </div>
            </div>
            <div class="form-group">
               <label for="password">New Password <span class="aesterisk">*</span></label>
               <div class="input-icon">
                  <i class="icon-lock"></i>
                  <input type="password" id="newpass" name="newpass" ng-model="credentials.newpass" class="form-control" placeholder="New Password.." required/>
               </div>
            </div>
            <div class="form-group">
               <label for="password">Confirm Password <span class="aesterisk">*</span></label>
               <div class="input-icon">
                  <i class="icon-lock"></i>
                  <input type="password" id="confpass" name="confpass" ng-model="credentials.confpass" class="form-control" placeholder="Confirm Password.." pw-check="newpass" required/>
                  <div class="custom-error" style="color:#F00" ng-show="frmChangePassword.$error"> <span class="msg-error" ng-show="frmChangePassword.confpass.$error.pwmatch">Passwords not matching.</span></div>
               </div>
            </div>
            <!-- /Input Fields -->

            <!-- Form Actions -->
            <div class="form-actions">
               <button type="submit" class="submit btn btn-primary pull-right" ng-disabled="frmChangePassword.$invalid">
                  Submit <i class="icon-angle-right"></i>
               </button>
            </div>
         </form>
      </div>
   </div>
</div>