<bread-crumbs></bread-crumbs>
<div class="page-header">
	<h3> Download Secure, customizable, gateway framework and file exchange solution Netspective Fluent XA </h3>
	<h5> Easy to install and operate by average business user </h5>
</div>
<div class="row downloads row-bg">
	<div class="col-md-8">
		<div class="widget box"> 
			<div class="widget-header"> 
				 <h4><i class="icon-reorder"></i> Windows</h4>
		    </div> 
		    <div class="widget-content">
		    	<div class="row divider">
		    		<div class="col-md-5">
		    			<img src="app/images/img.jpg" border="0"/>
		    		</div>
		    		<div class="col-md-7">
		    			<h2 class="download-heading">Fluent XA for MS .NET Framework 4.0</h2>
		    			<h3>Details</h3>
		    			<dl class="dl-horizontal downloads-dts"> 
		    				<dt>Version</dt> 
		    				<dd>Fluent XA 1.0</dd> 
		    				<dt>Released</dt> 
		    				<dd>2014-04-02</dd>
		    				<dt>Size</dt> 
		    				<dd>1,876.51 kb</dd>   
		    			</dl>
		    			<a href="http://stable.test.console.fluent.io/api/party/download_4_file.json" class="btn btn-lg btn-danger">Download</a>
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-12">
		    			<p>The Fluent XA version for Microsoft .NET Framework 2.0 is also available. You can download it from <a href="http://stable.test.console.fluent.io/api/party/downloadfile.json"> here</a></p>
		    		</div>
		    	</div>
		    </div> 
		</div>
		<div class="widget box"> 
			<div class="widget-header"> 
				 <h4><i class="icon-reorder"></i> Linux </h4>
		    </div> 
		    <div class="widget-content">
		    	Coming soon
		    </div> 
		</div> 
	</div>
	<div class="col-md-4">
		<div class="well">
			<h3> Installation Instruction </h3>
			<ul class="instruction-list">
				<li>Click on the download button</li>
				<li>Double-click the install file.</li>
				<li>This will run a standard installation. Follow the instructions on screen.</li>
				<li>Login with the same user name and password used to create the user account in this site.</li>
			</ul>

		</div>
	</div>
</div>