<bread-crumbs></bread-crumbs>
<div class="container" id="recipientContainer">
	<div class="row">
	<div class="col-md-12">
		<div class="span12"><h3><strong>Manage Tenant</strong></h3><p>&nbsp;</p></div>
		<div class="widget">
			<div class="widget-header">
				<h4><i class="icon-reorder"></i> Tenants</h4>
			</div>
			<div class="widget-content">
				<table class="table table-striped table-hover table-checkable datatable">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
							<th>Printer</th>
							<th>Draft Folder</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tenants in tenant">
							<td><a href="#/managetenant/{{tenants.party_id}}">{{tenants.person_fname}} {{tenants.person_lname}}</a></td>
							<td>{{tenants.email}}</td>
							<td class="hidden-xs">{{tenants.recipient_printer}}</td>
							<td>{{tenants.recipient_draft}}</td>
							<td><a href="" ng-click="deleteTenant(tenants.party_id)">Delete</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>