<bread-crumbs></bread-crumbs>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="span12"><h3><strong>Manage Server Details</strong></h3><p>&nbsp;</p></div>
			<div class="widget">
				<div class="widget-header">
					<h4><i class="icon-reorder"></i> Server Details</h4>
				</div>
				<div class="widget-content">
					<table class="table table-striped table-hover table-checkable datatable">
						<thead>
							<tr>
								<th class="checkbox-column">#</th>
								<th>Name</th>
								<th>Base URL</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="servers in server">
								<td>{{$index + 1}}</td>
								<td><a href="#/manageserver/{{servers.id}}">{{servers.name}}</a></td>
								<td>{{servers.property_value_string}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>